.top-header {
  display:flex;
  justify-content: flex-end;
  align-items: center;
}

.header-signin {
  width: 100;
  margin: 0px 5px;
  color: white;
}

.header-signup {
  width: 100;
  margin: 0px 5px;
}